.footer_Area{
    height: 380px;
    /* background-color: red; */
    background-image: url("../../../Images/footer-bg.png");
    background-position: cover;
    background-repeat: no-repeat;
    background-color: #14a80041;
}
.footer_Area h2, h5{
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-style: italic;
    /* margin: 10px 0; */
    padding: 40px 0;
}
.footer_Area h5{
    margin: 10px 0 2px 0 !important;
    padding: 7px 0 !important;
}