.footer_Area{
    height: 350px;
    /* background-color: red; */
    background-image: url("../../../Images/footer-bg.png");
    background-position: cover;
    background-repeat: no-repeat;
    background-color: #14a80041;
}
.footer_Area h2, h5{
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-style: italic;
    margin: 10px 0;
    padding: 20px 0;
}