.Contract-heading{
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 100px;
}
.Contract-title {
    text-align: center;
    padding: 50px 0;
}
.googleMap{
    background-color: #14a800;
    margin-top: 20px;
    height: 300px;
    width: 300;
    border-radius: 10px;
}
.googleMap iframe{
    width:100%;
    height:100%;
    border:0;
}

/* Style inputs */
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus, textarea:focus {
    border: 1.5px solid #14a800;
    color:#062202;
    background-color: rgba(173, 216, 230, 0.562);
  }
  
input[type=submit] {
background-color: #04AA6D;
color: white;
padding: 12px 20px;
border: none;
cursor: pointer;
}
  
input[type=submit]:hover {
background-color: #45a049;
}
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }