
.navLink .navItem {
    margin-left: 15px;
    padding: 3px 15px;
    line-height: 30px;
    text-decoration: none !important;
    /* background-color: green; */
    border-radius: 10px;
    color: #14a800;
    font-weight: 600;

}
.navLink .navItem:hover {
    background-color: #14a800;
    border-radius: 10px;
    color: white;
}
