@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* ||==========================================================||
                    || All Button CSS|| 
    ||=========================================================||*/
.btn-band, .btn-band-outline{
    padding: 7px 30px;
    border-radius: 30px;
    text-decoration: none;
    border: 1px solid #14A800;
    text-align: center;
    transition: ease-in-out 500ms;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.btn-band{
    background-color: #14A800;
    color: #fff;
}
.btn-band:hover{
    background-color: #14a8000c;
    color: #14A800;
    text-decoration: none;
}


.btn-band-outline{
    background-color: #14a80005;
    color: #14A800;
}
.btn-band-outline:hover{
    background-color: #14A800;
    color: #fff;
    text-decoration: none;
}

/* ||==========================================================||
                    || All Text CSS|| 
    ||=========================================================||*/
.text-Navbar{
    color: #14A800;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    
}
.text-band{
    color: #14A800;
    font-size: 80px;
    line-height: 80px;
    font-family: 'Roboto Slab', serif;
}
.small-text-band{
    color: #14A800;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
}
.small-text-band:hover{
    color: #14a800;

}